/* Home.css */

/* Style for the entire home container */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #EDF7E3;
}

/* Style for the landing page image */
img {
  max-width: 60%;
  height: auto;
  margin-bottom: 20px;
  
}

/* Style for the text content */
div > h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

div > h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

div > p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Style for the "Shop Now" button */
.shop-now-btn {
  background-color: #007bff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shop-now-btn:hover {
  background-color: #0056b3;
}

/* Style for the footer */
.home-footer {
  text-align: center;
  margin-top: 20px;
}

.home-footer h4 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
