/* Navbar.css */

/* Reset some basic elements */
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #AFC8AD;
  padding: 10px 20px;
  position: relative;
}

.nav-logo img {
  width: 100px;
}

.nav-menu {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
  color: #ecf0f1;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s ease;
  margin: 0 10px; /* Adjust spacing between items */
}

.nav-item a {
  color: inherit;
  text-decoration: none;
}

.nav-item:hover {
  color: #e74c3c;
}

.nav-item::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #7ab93f;
  transition: width 0.3s ease;
}

.nav-item.active::after,
.nav-item:hover::after {
  width: 50%;
}

.active {
  color: #7ab93f;
}


.search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search input {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #bdc3c7;
  outline: none;
  transition: border-color 0.3s ease;
}

.search input:focus {
  border-color: #7ab93f;
}

.btn {
  padding: 8px 12px; /* Match padding with search input */
  border-radius: 4px;
  border: 1px solid #bdc3c7; /* Match border with search input */
  background-color: #fff; /* White background like search input */
  color: #000; /* Change text color to black to match search input */
  cursor: pointer;
  transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease; /* Add transitions */
}

.btn:hover {
  background-color: #7ab93f;
  border-color: #7ab93f;
  color: #fff; /* Change text color to white on hover */
}

.nav-signup-basket {
  display: flex;
  align-items: center;
  gap: 20px;
}

.basket-icon {
  width: 30px;
}

.nav-basket-count {
  color: #ecf0f1;
  font-size: 8px;
  background-color: #e74c3c;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: 12px;
  right: 8px;
  width: 15px; /* Ensure the width and height are equal to make it a circle */
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for mobile view */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .nav-menu {
    position: absolute;
    top: 60px;
    left: 00; /* Align to the left */
    background-color: #AFC8AD;
    flex-direction: column;
    width: 100%; /* Full width */
    transform: translateX(-100%); /* Hide initially */
    transition: transform 0.3s ease;
  }

  .nav-menu.mobile-menu {
    transform: translateX(0); /* Move to the visible position */
  }

  .search {
    display: flex;
    margin-bottom: 1rem; /* Add space between search and menu items */
  }

  .nav-menu .search input {
    width: 70%; /* Adjust width of input */
  }

  .nav-menu .btn {
    width: 30%; /* Adjust width of button */
  }

  .hamburger {
    display: flex;
  }

  .nav-signup-basket {
    display: none;
  }
}
